h1 {
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%, 0%);
    color: #f3f3f3;
}

.op-type-buttons {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    gap: 50px;
}

.op-type-buttons .button {
    padding: 3% 5%;
    margin-right: 50px;
    border-radius: 12px;
    font-size: 30px;
    box-shadow: 0 0 25px #f3f3f3;
}

.op-type-buttons .button:hover {
    text-shadow: 0 0 2px #e3e3e3b5;
    box-shadow: 0 0 15px #f3f3f3;
    transition: all 0.5s cubic-bezier(0.16, 0.33, 0.56, 1.0);
}