body {
    background-color: #333;
    color: #f3f3f3
}

.content {
    padding-top: 70px; /* Adjust based on the height navbar */
}

.button {
    display: inline-block;
    color: #c8c8c8;
    white-space: nowrap;
    text-decoration: none;
    border-width: 0px;
    border-color: white;
    
    background-color: #43464B;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.5s cubic-bezier(0.16, 0.33, 0.56, 1.0);
    
    /* to configure specific settings
    padding: 3% 5%;
    margin-right: 50px;
    border-radius: 12px;
    font-size: 30px;
    box-shadow: 0 0 65px #f2073e53; */
}

.button:hover {
    cursor: pointer;
    text-shadow: 0 0 5px #e3e3e3;
    box-shadow: 0 0 15px #f3f3f3;
    border-width: 3px;
    transition: all 0.2s cubic-bezier(0.16, 0.33, 0.56, 1.0) reverse;
}

form .button {
    border-width: 0px;
    border-radius: 12px;
    margin: 0 3px;
    padding: 3px 8px;
    box-shadow: 0 0 3px #f3f3f3;
}

form .button:hover {
    cursor: pointer;
    text-shadow: 0 0 1px #e3e3e3;
    box-shadow: 0 0 6px #f3f3f3;
    border-width: 0px;

    transition: all 0.2s cubic-bezier(0.16, 0.33, 0.56, 1.0);
}

form input {
    /* display: block; */
    background-color: #363636;
    padding: 2px 8px;
    color: #f3f3f3;
    border-radius: 6px;
    text-indent: 3px;
}

form label {
    margin-left: 15px;
}