.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.search, .user-info, .work-log {
    margin-bottom: 20px;
}

h1, h2 {
    margin: 10px 0;
}

table {
    width: 100%;
    background-color: #3d3d3d;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #393939;
}

.feedback {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.feedback.success {
    background-color: #92f6a9;
    color: #14782b;
    border: 1px solid #c3e6cb;
}

.feedback.error {
    background-color: #ec737d;
    color: #82020e;
    border: 1px solid #f5c6cb;
}

.user-info .button {
    border-width: 0px;
    border-radius: 12px;
    margin: 0 3px;
    padding: 3px 8px;
    box-shadow: 0 0 3px #f3f3f3;
}

.user-info .button:hover {
    cursor: pointer;
    text-shadow: 0 0 1px #e3e3e3;
    box-shadow: 0 0 6px #f3f3f3;
    border-width: 0px;

    transition: all 0.2s;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.modal-content {
    background-color: #595151;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 30px;
    width: 80%;
    max-width: 650px; /* Added max-width for better responsiveness */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
close:focus {
    color: rgb(248, 52, 52);
    text-decoration: none;
    cursor: pointer;
}

/* Style for delete button on hover */
.table-row:hover .delete-button {
    display: inline-block;
}

.delete-button {
    display: none;
    color: red;
    cursor: pointer;
}